[submodule "libs/vtparse"]
	path = libs/vtparse
	url = https://github.com/panda2code/vtparse
[submodule "libs/zig_freetype2"]
  path = libs/zig_freetype2
  url = https://github.com/panda2code/zig_freetype2
